/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



.button{
	-fx-background-color: #ff9900;
	-fx-background-radius: 10 10 10 10;
	-fx-border-radius: 10 10 10 10;
	-fx-border-color: black;
}

.button:hover{
	-fx-background-color: #cc3300;
}
.button:pressed{
	-fx-effect:  dropshadow(gaussian, #996600
		, 5, 5, 0, 0
	);
}


.label{
	-fx-text-fill:  white;
	-fx-text-alignment: center;
	-fx-effect:  dropshadow(gaussian, #666633 , 2, 2, 0, 0);
}


.tab{
		-fx-background-color: #ff9900;
}

.tab-header-background {
		-fx-background-color: #800000;
}

.tab:hover{
	-fx-effect:  innershadow(gaussian, #800000 , 2, 2, 0, 0);
}




